@import "tailwindcss";

/* Normalize Core Typography Handlers */
button, div, span {
    -webkit-tap-highlight-color: transparent;
}
span, p, h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
