@import "tailwindcss";

/* Immutable Virtual Scroll Pipe */
.custom-hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.custom-hide-scrollbar {
    -ms-overflow-style: none; /* IE / Edge Mask */
    scrollbar-width: none; /* FF Rule */
}
