@import "tailwindcss";

/* System font overrides enforcing native OS scaling */
button, div {
    -webkit-tap-highlight-color: transparent;
}
span, p, h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
