@import "tailwindcss";

/* Hide scrollbar tracking across webkit/moz/ms to match raw native OS rendering */
.custom-hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.custom-hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
